// color

$bodyBg-textClr: hsl(240, 75%, 98%);

$primaryClr: hsl(243, 87%, 12%);

$ctaBgClr: hsl(238, 22%, 44%);

$btnClr: hsl(224, 93%, 58%);

$testimonialLinkClr: hsl(170, 45%, 43%);

$lightGrayClr: hsl(0, 0%, 75%);
