@import "./mixin";
@import "./variable";

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  @include open-sans-400;
  color: $primaryClr;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: $primaryClr;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

// container

.container {
  max-width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

// header

// nav

.nav {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-wrapper {
    .logo {
      display: block;
      width: 10rem;
    }
  }

  .nav-list {
    display: flex;
    gap: 1rem;
    .nav-list__item {
      .nav-list__link {
        color: $primaryClr;
        padding: 5px;
      }
    }
  }
}

// main
.main {
  margin-top: 5rem;
}
// hero

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "content";
  gap: 5rem;

  .hero-col-left {
    grid-area: content;
    text-align: center;
    color: $primaryClr;
    .hero__title {
      max-width: 45rem;
      margin: 0 auto;
      @include raleway-700;
      font-size: 3rem;
    }

    .hero__paragraph {
      padding: 2.5rem 0 3.5rem 0;
      max-width: 33.5rem;
      margin: 0 auto;
    }

    .hero-input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .hero-input {
        @include input;
      }

      .btn {
        @include btn;
      }
    }
  }

  .hero-col-right {
    grid-area: image;
    .hero-image {
      display: block;
      width: 100%;
      max-width: 45rem;
      margin: 0 auto;
    }
  }
}

// testimonial

.testimonial {
  margin-top: 8rem;
  padding: 10rem 0;
  background: url("../../images/bg/bg-curve-mobile.svg") no-repeat top;
  background-size: cover;
}

.testimonial-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  grid-template-areas:
    "image"
    "content"
    "customer";
  .testimonial-content {
    grid-area: content;
    .testimonial-content__title {
      text-align: center;
      padding-bottom: 1.2rem;
    }

    .testimonial-content__paragraph {
      padding: 1rem 0;
    }

    .testimonial-content__link {
      display: block;
      padding-top: 1.2rem;
      margin: 0.5rem auto;
      max-width: max-content;
      border-bottom: 1px solid $testimonialLinkClr;
      padding-bottom: 0.7rem;
      color: $testimonialLinkClr;
      transition: all 150ms ease-in-out;

      &:hover {
        color: hsl(170, 56%, 56%);

        .arrow use {
          fill: hsl(170, 56%, 56%);
          transition: all 150ms ease-in-out;
        }
      }

      .arrow {
        vertical-align: middle;
      }
    }
  }

  .testimonial-image {
    display: block;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    grid-area: image;
  }

  .testimonial-customer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 3px;
    grid-area: customer;
    max-width: 380px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
    .testimonial-customer__description {
      padding: 1rem 0 2rem 0;
    }
    .testimonial-customer-profile {
      display: grid;
      grid-template-columns: 50px 1fr;
      align-items: center;
      gap: 1.4rem;

      .testimonial-name {
        font-size: 1.8rem;
      }
      .testimonial-avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }

      .testimonial-about {
        font-size: 1.2rem;
      }
    }
  }
}

// cta

.cta {
  background-color: $ctaBgClr;
  padding: 8rem 0;
}

.cta-wrapper {
  text-align: center;
  color: $bodyBg-textClr;
  .cta-content {
    .cta-content__paragraph {
      padding: 2.6rem 0;
    }
  }

  .cta-input-wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .cta-input {
      @include input;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
    }

    .btn {
      @include btn;
    }
  }
}

// footer

.footer {
  background-color: $primaryClr;
  padding: 8rem 0 5rem 0;
}

.footer-wrapper {
  display: grid;
  gap: 3rem;
  color: $bodyBg-textClr;
  .footer-logo {
    display: inline-block;
  }

  .footer-contact {
    .footer-contact__paragraph {
      &:first-child {
        &::before {
          content: "";
          background: url("../../images/icon/icon-phone.svg") no-repeat;
          @include footerContactIcon;
        }
      }

      &:last-child {
        margin-top: 1rem;
        &::before {
          content: "";
          background: url("../../images/icon/icon-email.svg") no-repeat;
          @include footerContactIcon;
        }
      }
    }
  }

  .footer-list {
    .footer-list__item {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      .footer-list__link {
        display: inline-block;
        padding: 0.8rem 0;
        color: $bodyBg-textClr;
      }
    }
  }

  .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 50px;
    .social {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px solid $bodyBg-textClr;

      &:hover {
        transition: all 150ms ease-in-out;
        border: 1px solid hsl(224, 100%, 68%);
        .social__icon {
          transition: all 150ms ease-in-out;
          color: hsl(224, 100%, 68%);
        }
      }
      .social__icon {
        color: $bodyBg-textClr;
        width: 2rem;
      }
    }
  }
}

// responsive | 640px | 768px | 1024px | 1280px

@include mediaQuery(sm) {
  .container {
    max-width: 620px;
    padding: 0;
  }
}

@include mediaQuery(md) {
  .container {
    max-width: 748px;
  }

  // main

  // hero

  .hero-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image ";
    align-items: center;

    .hero-col-left {
      text-align: left;
      .hero__title {
        margin: 0;
      }

      .hero__paragraph {
        margin: 0;
      }

      .hero-input-wrapper {
        flex-direction: row;
      }
    }

    .hero-col-right {
      .hero-image {
        max-width: none;
        margin: unset;
      }
    }
  }

  // testimonial

  .testimonial {
    background: url("../../images/bg/bg-curve-desktop.svg") no-repeat top;
    background-size: cover;
  }

  .testimonial-section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content image"
      "customer image";
    align-items: center;
    .testimonial-content {
      .testimonial-content__title {
        text-align: left;
        font-size: 2.4rem;
        @include raleway-700;
      }

      .testimonial-content__paragraph {
        max-width: 52rem;
      }

      .testimonial-content__link {
        margin: 0;
      }
    }

    .testimonial-image {
      max-width: unset;
      margin: 0;
    }

    .testimonial-customer {
      margin: 0;
    }
  }

  // cta

  .cta-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    .cta-content {
      .cta-content__title {
        @include raleway-700;
      }
      .cta-content__paragraph {
        padding: 1rem 0;
        max-width: 49rem;
      }
    }

    .cta-input-wrapper {
      max-width: unset;
      margin: 0;
      gap: 1.5rem;

      .btn {
        align-self: flex-start;
      }
    }
  }

  // footer

  .footer-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 0.5rem;
    column-gap: 6rem;
    grid-template-areas: "logo logo logo logo";
    .footer-logo {
      grid-area: logo;
    }

    .footer-list {
      .footer-list__item {
        max-width: max-content;
      }
    }
  }
}

@include mediaQuery(lg) {
  .container {
    max-width: 1004px;
  }

  // hero

  .hero-wrapper {
    .hero-col-left {
      .hero__paragraph {
        max-width: 45.5rem;
      }

      .hero-input-wrapper {
        .hero-input {
          width: 60%;
        }
      }
    }
  }

  // cta

  .cta-wrapper {
    .cta-input-wrapper {
      .cta-input {
        max-width: 45rem;
      }
    }
  }
}

@include mediaQuery(xl) {
  .container {
    max-width: 1260px;
  }

  // hero

  .hero-wrapper {
    .hero-col-left {
      .hero__paragraph {
        max-width: 51.5rem;
      }

      .hero-input-wrapper {
        .hero-input {
          width: 50%;
        }
      }
    }
  }
}
